<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: headerFragment (title='Detail Pegawai')"></title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div style="padding: 32px; text-align: center">

		<br> <br>
		<div class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h3 th:text="${jabatanTarget.nama} "></h3>
				</div>
				<p th:text="${jabatanTarget.deskripsi}"><p>
			</div>
		</div>
	</div>
</body>
</html>