<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: headerFragment (title='Tambah Jabatan')"></title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
</head>

<body>
	
	<div style="padding: 32px; text-align: center;">

		<div class="alert alert-danger">
			<strong>Hapus Gagal!</strong> Jabatan gagal dihapus
		</div>
		
		<h2>Ada pegawai dalam posisi jabatan ini</h2>
		<br>
		<span>Redirecting in ... </span>
		<span id="counter" style="display:inline;"> 5</span>
		<script>
			setInterval(function() {
				var div = document.querySelector("#counter");
				var count = div.textContent * 1 - 1;
				div.textContent = count;
				if (count <= 0) {
					location.replace("http://localhost:8080");
				}
			}, 1000);
		</script>

	</div>
</body>
</html>