<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: headerFragment (title='Tambah Jabatan')"></title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
</head>

<body>
	
	<div style="padding: 32px;">
	
		<h2>Tambah Jabatan</h2>
		<p>Slahkan isi data jabatan yang ingin ditambah</p>
		
		<div class="container-fluid">
			
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						
						<form th:action="@{/jabatan/tambah}" method="POST">
							<div class="card-body">
								<label for="nama">Nama</label>
								<input type="text" name="nama" class="form-control" /><br>
								<label for="deskripsi">Deskripsi</label>
								<input type="text" name="deskripsi" class="form-control" /><br>
								<label for="gaji">Gaji Pokok</label>
								<input type="number" name="gaji" class="form-control" /><br>
								<button type="submit" class="btn btn-primary">Simpan</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>